.vscode/
screenshot.png
yolov8n.pt
Intermediate_Advance/Object_detection_CV_projects/Project13_Finger_drawing/hand_landmarker.task
Intermediate_Advance/Object_detection_CV_projects/Project13_Finger_drawing/screenshot.png
Intermediate_Advance/Object_detection_CV_projects/Project14_hand_control/hand_landmarker.task
Intermediate_Advance/Object_detection_CV_projects/Project14_hand_control/Screenshot 2026-06-26 220249.png
Intermediate_Advance/Object_detection_CV_projects/Project14_hand_control/Screenshot 2026-06-26 220308.png
Intermediate_Advance/Object_detection_CV_projects/Project14_hand_control/Screenshot 2026-06-26 220330.png
Intermediate_Advance/Object_detection_CV_projects/Project14_hand_control/Screenshot 2026-06-26 220748.png
Intermediate_Advance/Object_detection_CV_projects/Project14_hand_control/Screenshot 2026-06-26 220755.png
Intermediate_Advance/Object_detection_CV_projects/Project14_hand_control/Screenshot 2026-06-26 223102.png