.vscode/
screenshot.png
yolov8n.pt
Intermediate_Advance/Object_detection_CV_projects/Project13_Finger_drawing/hand_landmarker.task
Intermediate_Advance/Object_detection_CV_projects/Project13_Finger_drawing/screenshot.png